/*
   helpers style
*/

.mobile-hidden {
  display: block !important;
  @include adaptive('w1023') {
      display: none !important;
  }
}
.mobile-visible {
  display: none !important;
  @include adaptive('w1023') {
      display: block !important;
  }
}
