.text-c-white {color: #fff;}
.text-c-base {color: $base;}
.text-c-acc {color: $acc;}

.text-base {
   font-size: 20px;
   letter-spacing: -0.05em;
   line-height: 1.4;
}
.big-text {
   font-size: 60px;
   font-weight: 900;
}

.text-small {
    font-size: 14px;
    line-height: (30/14);
    color :#303030;
}
